Repository Annihilater/teset-platform-vue-project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @octocat, @workflow-team, @lead-developer, @node-developers, @core-team, @state-management-team, @routing-team, @ui-team, @devops-team, @documentation-team, @testing-team, @ci-team, @dependency-managers

Documentation: 新增贡献指南，详细说明贡献流程和提交消息约定
  .github/CONTRIBUTING.md
Owners: @octocat

Documentation: 新增依赖机器人配置文件，自动化管理npm和GitHub Actions依赖更新
  .github/dependabot.yml
Owners: @octocat

Documentation: 新增拉取请求模板，规范提交信息和自查清单
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @octocat

Documentation: 新增安全政策文档，详细说明安全漏洞报告和处理流程
  .github/SECURITY.md
Owners: @octocat

Documentation: 新增自动处理不活跃issues和PR的配置文件
  .github/stale.yml
Owners: @octocat

Documentation: 新增Bug报告模板，帮助用户清晰描述问题
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @octocat

Documentation: 新增功能请求模板，帮助用户提出功能建议
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @octocat

Documentation: 新增CI工作流配置文件，自动化构建、测试和代码检查流程
  .github/workflows/ci.yml
Owners: @ci-team

Documentation: 删除不再使用的文件
  pnpm-lock.yaml
Owners: @dependency-managers

Documentation: 新增TypeScript构建信息文件到.gitignore
  .gitignore
Owners: @octocat

Feature: 新增连接线组件，实现节点之间的平滑连接
  src/components/workflow/nodes/ConnectionLine.vue
Owners: @node-developers, @lead-developer

Refactor: 调整控制组件的位置并优化连接线组件的导入路径
  src/views/WorkflowEditor.vue
Owners: @ui-team

Feature: 新增App逻辑处理模块，包含路由权限判断功能
  src/App.logic.ts
Owners: @octocat

Feature: 新增应用样式文件，包含淡入淡出效果和自定义滚动条样式
  src/App.styles.css
Owners: @octocat

Refactor: 优化App组件逻辑，整合路由权限判断与布局状态管理
  src/App.vue
Owners: @octocat

Feature: 新增日志输出，加载插件和样式文件
  src/main.ts
Owners: @octocat

Refactor: 修复导出语句，确保正确导出useWorkflowStore
  src/stores/workflowStore.ts
Owners: @state-management-team

Refactor: 将历史记录保存逻辑整合到workflowStore中
  src/views/WorkflowEditor.vue
Owners: @ui-team

Feature: 新增ESLint配置文件以支持JavaScript和TypeScript项目
  eslint.config.js
Owners: @devops-team

Feature: 更新package-lock.json，添加@eslint/js和globals依赖，并升级eslint-plugin-vue和typescript-eslint版本
  package-lock.json
Owners: @dependency-managers

Feature: 更新package.json，添加@eslint/js和globals依赖，并升级eslint-plugin-vue和typescript-eslint版本
  package.json
Owners: @dependency-managers

Feature: 新增Vue Flow样式文件的导入
  src/main.ts
Owners: @octocat

Feature: 在导航组件中新增工作流编辑器链接
  src/components/Navigation.vue
Owners: @octocat

Refactor: 删除不再使用的Handle组件代码
  src/components/workflow/Handle.vue
Owners: @workflow-team, @lead-developer

Refactor: 重构BaseNode组件，移除不必要的模板和逻辑，简化代码结构
  src/components/workflow/nodes/BaseNode.vue
Owners: @node-developers, @lead-developer

Feature: 在国际化文件中新增工作流编辑器的翻译文本
  src/i18n/locales/en.ts
Owners: @octocat

Feature: 在国际化文件中新增工作流编辑器的翻译文本
  src/i18n/locales/zh.ts
Owners: @octocat

Feature: 在工作流编辑器中新增节点类型和连接线的处理逻辑
  src/views/WorkflowEditor.vue
Owners: @ui-team

Feature: 新增工作流编辑器的逻辑和样式文件，整合节点组件和右键菜单功能
  src/views/WorkflowEditor.logic.ts
  src/views/WorkflowEditor.styles.css
  src/views/WorkflowEditor.vue
Owners: @ui-team

Feature: 新增分析页面的逻辑、样式和视图组件，整合数据加载和图表配置功能
  src/views/Analytics.logic.ts
  src/views/Analytics.styles.css
  src/views/Analytics.vue
Owners: @ui-team

Feature: 新增按钮范围样式定义
  src/views/Analytics.styles.css
Owners: @ui-team

Feature: 更新分析页面样式，启用样式文件并优化按钮样式
  src/views/Analytics.vue
Owners: @ui-team

Feature: 新增仪表盘逻辑、样式和视图组件，整合数据加载功能
  src/views/Dashboard.logic.ts
  src/views/Dashboard.styles.css
  src/views/Dashboard.vue
Owners: @ui-team

Feature: 新增缺陷详情逻辑、样式和视图组件，整合缺陷数据加载和评论功能
  src/views/DefectDetail.logic.ts
  src/views/DefectDetail.styles.css
  src/views/DefectDetail.vue
Owners: @ui-team

Feature: 新增缺陷管理逻辑、样式和视图组件，整合缺陷数据加载和筛选功能
  src/views/Defects.logic.ts
  src/views/Defects.styles.css
  src/views/Defects.vue
Owners: @ui-team

Feature: 新增环境管理逻辑、样式和视图组件，整合环境数据加载和状态显示功能
  src/views/Environments.logic.ts
  src/views/Environments.styles.css
  src/views/Environments.vue
Owners: @ui-team

Feature: 新增404页面的国际化逻辑和样式，整合视图组件
  src/views/NotFound.logic.ts
  src/views/NotFound.styles.css
  src/views/NotFound.vue
Owners: @ui-team

Feature: 新增项目管理逻辑、样式和视图组件，整合项目数据加载和筛选功能
  src/views/Projects.logic.ts
  src/views/Projects.styles.css
  src/views/Projects.vue
Owners: @ui-team

Feature: 新增最近执行逻辑、样式和视图组件，整合执行数据加载和状态映射功能
  src/views/RecentRuns.logic.ts
  src/views/RecentRuns.vue
Owners: @ui-team

Feature: 新增报告逻辑、样式和视图组件，整合报告数据加载和状态处理功能
  src/views/Reports.logic.ts
  src/views/Reports.vue
Owners: @ui-team

.github/CODEOWNERS:

# 此文件定义了仓库中各个文件和目录的代码所有者
# 当这些文件的内容发生变化时，这些所有者将会自动被标记为审查者
# 格式: 文件模式 空格分隔的所有者列表(@username或email)
# 参考: https://docs.github.com/cn/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# 默认所有者（如果没有更具体的规则匹配）
*                    @octocat

# 工作流编辑器核心组件
/src/components/workflow/      @workflow-team @lead-developer

# 节点组件
/src/components/workflow/nodes/      @node-developers @lead-developer

# 工具和实用函数
/src/utils/                    @core-team

# 状态管理
/src/stores/                   @state-management-team

# 路由和视图
/src/router/                   @routing-team
/src/views/                    @ui-team

# 构建和配置文件
/*.config.js                   @devops-team
/*.config.ts                   @devops-team
/vite.config.*                 @devops-team
/tsconfig.*                    @devops-team

# 文档
/docs/                         @documentation-team
/*.md                          @documentation-team

# 测试
/tests/                        @testing-team

# GitHub Actions工作流程
/.github/workflows/            @ci-team

# 依赖项
/package.json                  @dependency-managers
/yarn.lock                     @dependency-managers
/pnpm-lock.yaml               @dependency-managers
/package-lock.json             @dependency-managers

# 注意: 底部的规则优先级高于顶部的规则
